{% extends 'base.html' %} {% block header %}
<nav class="hidden">
  <!-- Empty nav to avoid rendering anything, but the toggle is still functional -->
</nav>
{% endblock %} {% block content %}

<div class="">
  <h1 class="">Account/Settings</h1>
  <h2>{{greeting}}</h2>

  <a
    href="{{ url_for('users.index') }}"
    class="mt-8 inline-block px-6 py-3 text-lg font-semibold text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2"
  >
    Go Back Home
  </a>


</div>

{% endblock %}
