<footer class="bg-gray-100 dark:bg-gray-900 text-gray-700 dark:text-gray-300 py-4 mt-10 border-t border-gray-200 dark:border-gray-700">
    <div class="container mx-auto text-center">
        <p>© 2024 Jalal Ahmad. All rights reserved</p>
        <p class="mt-2 text-sm">
            Website built with: <span class="font-semibold">Flask</span>, <span class="font-semibold">Python</span>, <span class="font-semibold">MongoDB</span>, <span class="font-semibold">TailwindCSS</span>, <span class="font-semibold">Vercel Hosting</span>
        </p>
    </div>
</footer>
